<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Torrent App</title>
    <!-- plugins:css -->
    <link href="static/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="static/vendors/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- End layout styles -->
    <!--    <link rel="shortcut icon" href="static/images/favicon.ico" />-->
</head>

<body>
<div class="container-scroller">

    <!--Header Import-->
    {% include 'Header.html' %}
    <!--Header Import-->

    <div class="container-fluid page-body-wrapper">

        <!--Navbar Import-->
        {% include 'navbar.html' %}
        <!--Navbar Import-->

        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-group"></i>
                  </span> Groups
                    </h3>
                    <span class="d-flex align-items-center">
                  <div aria-label="Basic example" class="btn-group" role="group">
                    <button class="btn btn-primary" data-target="#CreateGroup" data-toggle="modal" type="button"><i
                            class="mdi mdi-lock-plus"></i></button>
                    <button class="btn btn-primary" data-target="#" data-toggle="modal" type="button"><i
                            class="mdi mdi-key-plus"></i></button>
                  </div>
                </span>
                </div>
                <div class="row">
                    <!--Groups Display-->
                    {%for group in groups%}
                    <div class="col-md-4 stretch-card grid-margin">
                        <div class="card bg-gradient-danger card-img-holder text-white">
                            <div class="card-body">
                                <img alt="circle-image" class="card-img-absolute"
                                     src="static/images/dashboard/circle.svg"/>
                                <h4 class="font-weight-normal mb-3">{{group.group_name}} <span class="float-right">{{group.peer_list|length}}</span><i
                                        class="mdi mdi-account mdi-24px float-right"></i>
                                </h4>
                                <h2 class="mb-5">{{group.group_desc}}</h2>
                                <div><a class="card-text mdi mdi-magnify" href="#"></a></div>
                            </div>

                        </div>
                    </div>
                    {%endfor%}

                </div>

                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <!-- TODO: add footer here-->
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="static/vendors/js/vendor.bundle.base.js"></script>
    <script src="static/assets/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/misc.js"></script>
</div>
<!-- Create Group Modal -->
<div aria-hidden="true" aria-labelledby="CreateGroup" class="modal fade" id="CreateGroup" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/create_group" method="POST">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-gradient-primary text-white">@</span>
                            </div>
                            <input aria-describedby="basic-addon1" aria-hidden="true" aria-label="Group Name"
                                   class="form-control"
                                   name="GroupName"
                                   placeholder="Group Name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input aria-hidden="true" aria-label="Group Description" class="form-control"
                                   describedby="basic-addon2" name="GroupDesc" placeholder="Group Description"
                                   type="text">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input checked="true" class="form-check-input" name="private" type="checkbox" value="1">
                                Private Group <i class="input-helper"></i></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit" value="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>