<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false"
               aria-controls="general-pages">
                <span class="menu-title">Groups</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/samples/blank-page.html"> Group 1</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/login.html"> Group 2 </a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/register.html"> Group 3 </a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/samples/error-404.html"> Group 4 </a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>